[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "<=1.10.7"
aiohttp = "==3.8.4"
aiologger = "==0.7.0"
aioamqp = "==0.15.0"
prometheus-client = "<=0.16.0"
cached-property = "==1.5.2"

[dev-packages]
pytest = "==7.2.2"
pytest-cov = "==4.0.0"
freezegun = "==1.2.2"
async-worker = {editable = true,path = "."}
mypy = "==1.0.0"
black = "==23.1.0"
lxml = "==4.9.2"
isort = "==5.12.0"
sphinx = "==4.5.0"
sphinx-intl = "==2.1.0"
twine = "==4.0.2"
sphinx-issues = "*"
cryptography = "==39.0.1"
typing-extensions = "==4.4.0"
myst-parser = "==0.18.1"
sphinx-book-theme = "==0.3.3"

[requires]
python_version = "3"

[scripts]
test = "py.test -s --cov=asyncworker --cov-report=term-missing --cov-report=xml tests/"
itest = "py.test -s --cov=asyncworker --cov-report term-missing itests/"
all-tests = "py.test -s --cov=asyncworker --cov-report=term-missing --cov-report=xml tests/ itests/"
lint = "mypy asyncworker --ignore-missing-imports"
fmt = "black -v --line-length 80 ."
fmt-check = "black -v --line-length 80 --check ."
isort-fmt = "isort --apply --recursive --line-width 80 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma ."
isort-check = "isort --check-only --recursive --line-width 80 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma ."
make-docs = "make -C docs-src/ docs"

[pipenv]
allow_prereleases = true
