[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = ">= 2.0.0"
aiohttp = "==3.12.11"
aiologger = "==0.7.0"
aioamqp = "==0.15.0"
cached-property = "==2.0.1"
pydantic-settings = "*"

[dev-packages]
pytest = "==8.4.0"
pytest-cov = "==6.1.1"
freezegun = "==1.5.2"
async-worker = {editable = true,path = "."}
mypy = "==1.16.0"
black = "==25.1.0"
lxml = "==5.4.0"
isort = "==6.0.1"
sphinx = "==8.2.3"
sphinx-intl = "==2.3.1"
twine = "==6.1.0"
sphinx-issues = "*"
cryptography = "==45.0.3"
typing-extensions = "==4.14.0"
myst-parser = "==4.0.1"
sphinx-book-theme = "==1.1.4"

[requires]
python_version = "3"

[scripts]
test = "py.test -s --cov=asyncworker --cov-report=term-missing --cov-report=xml tests/"
itest = "py.test -s --cov=asyncworker --cov-report term-missing itests/"
all-tests = "py.test -s --cov=asyncworker --cov-report=term-missing --cov-report=xml tests/ itests/"
lint = "mypy asyncworker --ignore-missing-imports"
fmt = "black -v --line-length 80 ."
fmt-check = "black -v --line-length 80 --check ."
isort-fmt = "isort --apply --recursive --line-width 80 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma ."
isort-check = "isort --check-only --recursive --line-width 80 --use-parentheses --no-inline-sort --multi-line 3 --trailing-comma ."
make-docs = "make -C docs-src/ docs"

[pipenv]
allow_prereleases = true
